<ion-header>
  <ion-toolbar>
    <ion-title>Player Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="playerData">

    <ion-card *ngIf="playerData">
      <ion-card-header>
        <ion-card-title>
          {{playerData[0].fullName}} | #{{playerData[0].primaryNumber}}
        </ion-card-title>
        <ion-card-subtitle>
          {{playerData[0].primaryPosition.name}} | {{playerData[0].height}} | {{playerData[0].weight}} lb | Age:
          {{playerData[0].currentAge}} | {{playerData[0].currentTeam.name}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Born: {{playerData[0].birthDate}}</ion-label><br>
        <ion-label>Birthplace: {{playerData[0].birthCity}}, {{playerData[0].birthStateProvince}},
          {{playerData[0].birthCountry}} </ion-label><br>
        <ion-label>Nationality: {{playerData[0].nationality}}</ion-label><br>
        <ion-label *ngIf="playerData[0].primaryPosition.type === 'Forward' || playerData[0].primaryPosition.type === 'Defenseman'">Shoots: {{playerData[0].shootsCatches}}
        </ion-label>
        <ion-label *ngIf="playerData[0].primaryPosition.type === 'Goalie'">Catches: {{playerData[0].shootsCatches}}
        </ion-label>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Regular Season</ion-card-subtitle>
        <ion-card-title>Career Totals</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="playerData[0].primaryPosition.type === 'Forward' || playerData[0].primaryPosition.type === 'Defenseman'">
        <ion-grid>
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Goals</ion-col>
            <ion-col>Assists</ion-col>
            <ion-col>Points</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.goals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.assists}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.points}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>PIM</ion-col>
            <ion-col>+/-</ion-col>
            <ion-col>Hits</ion-col>
            <ion-col>Shot %</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.penaltyMinutes}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.plusMinus}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.hits}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shotPct}}%</ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="medium" button (click)="button_clicked(playerData[0].id, 'career')">View All Stats
        </ion-button>
      </ion-card-content>

      <ion-card-content *ngIf="playerData[0].primaryPosition.type === 'Goalie'">
        <ion-grid>
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Wins</ion-col>
            <ion-col>Losses</ion-col>
            <ion-col>OTL</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.wins}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.losses}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.ot}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>Games Started</ion-col>
            <ion-col>Save %</ion-col>
            <ion-col>GAA</ion-col>
            <ion-col>Shutouts</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.gamesStarted}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.savePercentage.toFixed(3)}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.goalAgainstAverage.toFixed(2)}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shutouts}}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="medium" button (click)="button_clicked(playerData[0].id, 'career')">View All Stats
        </ion-button>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Season: {{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length -
          1].season.substring(0,4)}} / {{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length -
          1].season.substring(4,8)}}
        </ion-card-subtitle>
        <ion-card-title>Current Totals</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-grid *ngIf="playerData[0].primaryPosition.type === 'Forward' || playerData[0].primaryPosition.type === 'Defenseman'">
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Goals</ion-col>
            <ion-col>Assists</ion-col>
            <ion-col>Points</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.goals}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.assists}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.points}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>PIM</ion-col>
            <ion-col>+/-</ion-col>
            <ion-col>Hits</ion-col>
            <ion-col>Shot %</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.penaltyMinutes}}
            </ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.plusMinus}}
            </ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.hits}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.shotPct}}%</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="medium" expand="block" button (click)="button_clicked(playerData[0].id, 'season')">
                All Seasons</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" expand="block" button (click)="button_clicked(playerData[0].id, 'playoffs')">
                Playoffs</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="playerData[0].primaryPosition.type === 'Goalie'">
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Wins</ion-col>
            <ion-col>Losses</ion-col>
            <ion-col>OTL</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.wins}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.losses}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length -
              1].stat.ot}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>Games Started</ion-col>
            <ion-col>Save %</ion-col>
            <ion-col>GAA</ion-col>
            <ion-col>Shutouts</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.gamesStarted}}
            </ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length -
              1].stat.savePercentage.toFixed(3)}}
            </ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length -
              1].stat.goalAgainstAverage.toFixed(2)}}</ion-col>
            <ion-col>{{playerData[0].stats[0].splits[playerData[0].stats[0].splits.length - 1].stat.shutouts}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="medium" expand="block" button (click)="button_clicked(playerData[0].id, 'season')">
                All Seasons</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" expand="block" button (click)="button_clicked(playerData[0].id, 'playoffs')">
                Playoffs</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>