<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="stat === 'career'"> Career Statistics</ion-title>
    <ion-title *ngIf="stat === 'season'"> Yearly Season Stats</ion-title>
    <ion-title *ngIf="stat === 'playoffs'"> Playoff Statistics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Player Details"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="playerData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Total Seasons: {{playerData[0].stats[0].splits.length}}</ion-card-subtitle>
        <ion-card-title>Career Summary</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="playerData[0].primaryPosition.type === 'Forward'">
        <ion-grid>
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Goals</ion-col>
            <ion-col>Assists</ion-col>
            <ion-col>Points</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.goals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.assists}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.points}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>PIM</ion-col>
            <ion-col>+/-</ion-col>
            <ion-col>Hits</ion-col>
            <ion-col>Shot %</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.penaltyMinutes}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.plusMinus}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.hits}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shotPct}}%</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>PPG</ion-col>
            <ion-col>PPP</ion-col>
            <ion-col>GWG</ion-col>
            <ion-col>Faceoff %</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.powerPlayGoals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.powerPlayPoints}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.gameWinningGoals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.faceOffPct}}%</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>OTG</ion-col>
            <ion-col>SHG</ion-col>
            <ion-col>SHP</ion-col>
            <ion-col>Shot Blocks</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.overTimeGoals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shortHandedGoals}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shortHandedPoints}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.blocked}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content *ngIf="playerData[0].primaryPosition.type === 'Goalie'">
        <ion-grid>
          <ion-row>
            <ion-col>Games</ion-col>
            <ion-col>Wins</ion-col>
            <ion-col>Losses</ion-col>
            <ion-col>Save %</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.games}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.wins}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.losses}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.savePercentage.toFixed(3)}}</ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>Games Started</ion-col>
            <ion-col>GAA</ion-col>
            <ion-col>Shutouts</ion-col>
            <ion-col>Minutes Played</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.gamesStarted}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.goalAgainstAverage.toFixed(2)}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.shutouts}}</ion-col>
            <ion-col>{{playerData[0].stats[2].splits[0].stat.timeOnIce}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Abbrevations</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>PIM = Penalty in minutes</ion-row>
          <ion-row>+/- = Plus / Minus</ion-row>
          <ion-row>PPG = Powerplay Goals</ion-row>
          <ion-row>PPP = PowerPlay Points</ion-row>
          <ion-row>GWG = Game-winning Goals</ion-row>
          <ion-row>OTG = Overtime Goals</ion-row>
          <ion-row>SHG = Short-handed Goals</ion-row>
          <ion-row>SHP = Short-handed Points</ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
